
<head>
    <meta charset="utf-8">
    <title>ILeavePortal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/css/admindashnoard.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>


<!-- Navbar start -->
<div class="container-fluid fixed-top px-0">
    <div class="container px-0">
        <div class="topbar">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light navbar-expand-xl">
            <a href="index.html" class="navbar-brand ms-3">
                <h1 class="text-primary display-5">ILeavePortal</h1>
            </a>
            @*  <button class="navbar-toggler py-2 px-3 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
            </button> *@
            @* <div class="collapse navbar-collapse bg-light" id="navbarCollapse">
            <div class="navbar-nav ms-auto"> *@
            <a href="/Login/Index" class="nav-item nav-link active">Home</a>

            @* <a href="/ApplyLeave/Index" class="nav-item nav-link">Apply Leave</a>*@
    </div>

</div>

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<div class="" id="divadminindex" style="margin-top:100px">
    <div style="background-color:white">
        <h2 style="margin-left:40%"> Leave Record</h2>
       @*  <button type="button" style="width:180px" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="fnAddNewEmployee();">
            Add New Employee
        </button> *@<br /><br />
        <table id="tblleaveindex" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LeaveType</th>
                    <th>StartDate</th>
                    <th>EndDate<end/th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>


<div id="divApplyLeaveElements">
    <h2 style="margin-left:40%;margin-top: 100px"> Apply Leave</h2>
    <div class="card pmd-card single-col-form" style="margin-top: 20px">
        <form method="post" action="" novalidate="novalidate">
            <div class="card-body">
                <div class="row">
                    <input for="Id" type="hidden" class="form-control" id="Id" />
                    <div class="col-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                            <label for="leave-type">Leave Type</label>
                            <select name="leave-type" id="LeaveType" class="form-control" title="Please select a Leave Type" required="">
                                <option></option>
                                <option>Sick Leave</option>
                                <option>Casual Leave</option>
                                <option>EBL</option>
                                <option>Unpaid Leave</option>
                                <option>Hourly Leave</option>
                            </select><span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label class="control-label" for="datepickerstart">Start Date</label>
                            <input type="date" class="form-control" id="StartDate" name="datepickerstart"><span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label class="control-label" for="datepickerend">End Date</label>
                            <input type="date" class="form-control" id="EndDate" name="datepickerend"><span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label>Reason</label>
                            <textarea class="form-control" id="Reason" name="reason"></textarea><span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-checkbox pmd-checkbox">
                            <input class="custom-control-input" type="checkbox" value="" id="IsHalfDay" id="inverse_defaultCheck1">
                            <label class="custom-control-label" for="inverse_defaultCheck1">
                                Is it a Half Day?
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary pmd-ripple-effect pmd-btn-raised" name="approve" onclick="Approve()" value="Approve">Approve</button> &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger pmd-ripple-effect pmd-btn-raised" name="reject" onclick="Reject()" value="Reject">Reject</button>&nbsp;&nbsp;&nbsp;
                <a href="/Admin/Index" class="btn btn-outline-secondary pmd-ripple-effect">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/datatables/datatables.js"></script>
<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/datatables/datatables.css" rel="stylesheet" />
<script src="~/js/admin.js"></script>
<script src="~/js/employee.js"></script>
<script src="~/js/login.js"></script>